# top-most EditorConfig file
root = true

[*.yml]
indent_style = space

[*.cs]
insert_final_newline = true
charset = utf-8-bom

csharp_style_expression_bodied_methods = true : error

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true

# Prefer read-only on fields
dotnet_style_readonly_field = true:warning

# Suggest more modern language features when available
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = false
dotnet_style_prefer_conditional_expression_over_assignment = false
dotnet_style_prefer_auto_properties = true:suggestion
