@using ViewComponentsDemo.ViewComponents

@{
    ViewData["Title"] = "Invoking VC";
}

<h3>Invoking a View Component</h3>
@await Component.InvokeAsync(nameof(CurrentWeather), new { city = "Chicago", stateAbbrev = "IL" })