@{
    ViewData["Title"] = "Invoking VC as TH";
}

<h3>Invoking a View Component as a Tag Helper</h3>
<vc:current-weather city="Fort Lauderdale" 
                    country-code="US" 
                    temp-scale="Fahrenheit"
                    lang="English" />