@{
    ViewData["Title"] = "Invoking VC as TH";
}

<h3>Invoking a View Component as a Tag Helper</h3>
<vc:current-weather city="Milwaukee" 
                    country-code="US" 
                    temp-scale="Fahrenheit"
                    lang="French" />